@use "@styles/_variables.scss";

.handle {
  width: 2rem !important;
  height: 2rem !important;
  right: 0;
  bottom: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: variables.$background-color;
  transform: translate(30%, 30%);
  border: 2px solid variables.$primary-color;
  &:hover {
    cursor: nwse-resize;
  }
  &::after {
    opacity: 0 !important;
    border-right: 2px solid rgb(from variables.$text-color r g b / 0) !important;
    border-bottom: 2px solid rgb(from variables.$text-color r g b / 0) !important;
  }
  &Icon {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    transform: rotate(90deg);
    fill: variables.$text-color;
  }
}
